{% extends 'gestion_peluqueria/base.html' %}


{% block titulo %}Nosotros{% endblock %}

{% block content %}


<section class="nosotros-section aba2arr">
    <div class="container">
        <h2>Sobre Nosotros</h2>
        
        <p>En Estilo Total, nos apasiona realzar la belleza y la confianza de nuestros clientes a través de
            servicios de peluquería excepcionales y un trato personalizado. Desde nuestra fundación en 2008, nos
            hemos comprometido a ofrecer experiencias de cuidado capilar de alta calidad que no solo transforman el
            aspecto, sino que también elevan el espíritu. Nuestra Historia Fundada por Daniel Cativa hace más de 12
            años, Estilo Total nació de la visión de crear un espacio donde la creatividad y la atención al detalle
            se fusionaran para brindar resultados extraordinarios. Desde entonces, hemos crecido hasta convertirnos
            en un destino de confianza para quienes buscan servicios de peluquería profesionales y de vanguardia.
        </p>
        <p>En Estilo Total, nuestro equipo está formado por expertos en el arte del cabello, cada uno dedicado a
            perfeccionar su oficio y superar las expectativas de nuestros clientes. Nuestros estilistas no solo
            poseen una habilidad excepcional, sino que también están comprometidos con la excelencia en el servicio
            al cliente y se esfuerzan por crear experiencias memorables en cada visita. Nuestra Filosofía en el
            corazón de nuestra peluquería se encuentra una filosofía de autenticidad, creatividad y cuidado. Creemos
            que cada cliente es único y merece ser tratado con respeto y atención individualizada. Nos esforzamos
            por entender las necesidades y deseos de cada persona que entra por nuestras puertas y trabajar junto a
            ellos para lograr el aspecto deseado.</p>
        <p>En Estilo Total, nos enorgullece ofrecer un ambiente acogedor y relajado donde nuestros clientes pueden
            sentirse mimados y consentidos mientras transformamos su cabello. Nos comprometemos a seguir
            aprendiendo, creciendo y superando las expectativas, para que cada visita a nuestra peluquería sea una
            experiencia memorable y satisfactoria.</p>
    </div>
</section>



{% endblock %}