{% extends 'gestion_peluqueria/base.html' %}


{% block titulo %}Sucursales{% endblock %}



{% block content %}


<section class="contenedor-sucursales aba2arr">
    <h1 class="titulo-sucursal">Visitanos</h1>
    <div class="sucursales">
        <div class="sucursal">
            <h2>Sucursal Caballito</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d44176.48954024553!2d-58.48171193018774!3d-34.61838964083017!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca39488e9ee3%3A0x90782ce395c1d5b8!2sCorteman%C3%ADa%20Caballito%20(Peluquer%C3%ADa%20Infantil%20-%20Juvenil)!5e0!3m2!1ses-419!2sar!4v1715742283474!5m2!1ses-419!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <i class="bi bi-whatsapp"></i> 221 477-9896
        </div>
        <div class="sucursal">
            <h2>Sucursal Belgrano</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13142.569351457962!2d-58.46997335453531!3d-34.562610096838625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb42c950dddf3%3A0x25e710abc3733ca5!2s*2ASERGI*2A%20Peluqueria%20Unisex-Dama%26Caballero!5e0!3m2!1ses-419!2sar!4v1715741992267!5m2!1ses-419!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <i class="bi bi-whatsapp"></i> 223 454-8452
        </div>
        <div class="sucursal">
            <h2>Sucursal Pueyrredon</h2>
            <div class="mapa">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13142.569351457962!2d-58.46997335453531!3d-34.562610096838625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcb42c950dddf3%3A0x25e710abc3733ca5!2s*2ASERGI*2A%20Peluqueria%20Unisex-Dama%26Caballero!5e0!3m2!1ses-419!2sar!4v1715741992267!5m2!1ses-419!2sar"
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <i class="bi bi-whatsapp"></i> 222 453-8952
        </div>
    </div>
</section>




{% endblock %}